.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-radius: 5px;
  border: 0.5px solid rgba(49, 48, 48, 0.1);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-family: cursive;
}
#title {
  color: rgb(10, 43, 210);
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
body {
  background-image: url("QQ图片20231104194257.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
